<div class="nav">
    <div class="logo">
        <img class="img" src="module/UnicomLocalNet/resmaster/portal/homePage/images/logo.png">
        <span class="text">中国联通</span>
        <span class="interval">|</span>
    </div>
    <div class="nav-text">
        <span>本地网调度系统</span>
    </div>
    <div class="nav-user">
        <div  class="item" ><i class="icon iconfont icon-yonghu1"></i> <span id="userName"></span></div>
        <div class="item" id="systemSetup" style="display:none"><i class="icon iconfont icon-set"></i> <span>后台管理</span></div>
        <div class="item" id="secondSystem" style="display:none"><i class="icon iconfont icon-set"></i> <span>二干调度系统</span></div>
        <div class="item" id="helptxt"><i class="icon iconfont icon-bangzhu"></i> <span>帮助</span></div>
        <div class="item" id="logout"><i class="icon iconfont icon-logout"></i> <span>注销</span></div>
    </div>
</div>
