<div>
    <div class="modal-header">
        <h4 class="modal-title">添加资源释放时间</h4>
    </div>
    <div class="modal-body">
        <div class="input-group popedit  col-md-12 col-sm-12">
            <div class="col-md-6 col-sm-6">
                <div class="form-group">
                    <label class="col-md-2 col-sm-2 control-label">单据类型:</label>
                    <div class="col-md-6 col-sm-6">
                        <input class="combobox form-control" name="productType" id="productType">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <label for="spinner" class="col-md-2 col-sm-2">时长:</label>
                <input id="spinner" class="form-control col-md-3 col-sm-3">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="save-button">确定</button>
        <button type="button" class="btn btn-default" id="cancel-button">取消</button>
    </div>
</div>