<div id="affairDispatcher-mainPanel">
    <div style="padding: 15px;">
        <form class="form-horizontal" id="undoneTache-form">
            <div class="row" style="margin: 0 !important;">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">单据来源</label>
                        <div class="col-md-8 col-sm-8">
                            <select id="undoneTache-resources"   class="chosen-select" data-placeholder="--请选择单据来源--" multiple=""  >
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">环节名称</label>
                        <div class="col-md-8 col-sm-8">
                            <select id="undoneTache-tacheName"   class="chosen-select" data-placeholder="--请选择环节--" multiple="" >
                            </select>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">产品类型</label>
                        <div class="col-md-8 col-sm-8">
                            <select id="undoneTache-productType"   class="chosen-select" data-placeholder="--请选择产品类型--" multiple=""  >
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">动作类型</label>
                        <div class="col-md-8 col-sm-8">
                            <select id="undoneTache-operateType"   class="chosen-select" data-placeholder="--请选择动作类型--" multiple=""  >
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" style="margin: 0 !important;">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">电路调度环节处理人所属分公司</label>
                        <div class="col-md-8 col-sm-8">
                            <select id="undoneTache-dcStaffOrg"   class="chosen-select" data-placeholder="--请选择分公司--" multiple=""  >
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">环节所属分公司</label>
                        <div class="col-md-8 col-sm-8">
                            <select id="undoneTache-orgName"   class="chosen-select" data-placeholder="--请选择分公司--" multiple=""  >
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">发起单位</label>
                        <div class="col-md-8 col-sm-8">
                            <select id="undoneTache-handelDep"   class="chosen-select" data-placeholder="--请选择分公司--" multiple=""  >
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">环节历时(工作日)</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="undoneTache-tacheDuration" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin: 0 !important;">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">申请单创建开始时间</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="undoneTache-beginDate" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">申请单创建截至时间</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="undoneTache-endDate" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">是否超时</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="undoneTache-isTimeOut"   class="combobox form-control">
                            </input>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">环节超时时长(天)</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="undoneTache-timeOut" class="form-control">
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                    </div>
                </div>
                <div class="col-md-4 col-sm-4" >
                    <div  style="margin-left: 60px">
                        <button id="undoneTache-queryBtn" type="button" class="btn btn-danger">查询</button>
                        <button id="undoneTache-exportBtn" type="button" class="btn btn-danger">导出</button>
                        <button id="undoneTache-initStaBtn" type="button" class="btn btn-danger">生成汇总报表</button>
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div style="padding: 10px;">
        <div id="undoneTache-grid"></div>
    </div>
</div>
