
<div class="modal-body">

    <div class="col-md-12" >
        <span>支持DOC、DOCX、PDF、JPG、PNG格式附件</span>
        <span style="color: #ea421b">文件大小不超过10M</span>
    </div>
    <div class="col-md-12" >
        <form id="displaySource">
            <div class="form-group">
                <div class="btn-toolbar">
                    <span class="btn btn-default fileinput-button" style="margin-top: 0px">
                        <span class="iconfont icon-upload-alt"></span>
                        <span>选择文件</span>
                        <input class="js-select-file" type="file" name="uploadFiles" multiple="">
                    </span>
                    <button type="button" class="btn btn-default js-file-upload">
                        <span>上传文件</span>
                    </button>
                </div>
            </div>
            <div class="form-group" style="margin-top:4px">
                <div class="col-md-12">
                    <ul class="file-list list-group">
                    </ul>
                </div>
            </div>
        </form>
    </div>

</div>