<div class="modal-header">
    <h5 class="modal-title">受理区域</h5>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group required">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control" id="citySel">
                </div>
            <div id="subBtnDiv" class="col-md-12" >
                <div style="text-align: right;padding-bottom:10px;padding-right:20px;" >
                    <button type="button" id="submitBtn" class="btn" style="background-color: #EB4A4B">确定</button>
                    <button type="button" class="btn">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>


