<div class="modal-header">
    <h4 class="modal-title">选择回收设备</h4>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <div class="row">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-4 col-sm-4" id="equipNameDiv">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" style="margin: 4px 0px">设备名称</label>
                            <div class="col-md-8 col-sm-8">
                                <input id="equipName" name="equipName" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4" id="equipCodeDiv">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" style="margin: 4px 0px">设备编码</label>
                            <div class="col-md-8 col-sm-8">
                                <input id="equipCode" name="equipCode" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" style="margin: 4px 0px">归属机房</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="input-group">
                                    <input id="room" name="room" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4" id="stationDiv">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" style="margin: 4px 0px">归属局站</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="input-group">
                                    <input id="station" name="station" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4" id="regionDiv">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" style="margin: 4px 0px">归属区域</label>
                            <div class="col-md-8 col-sm-8">
                                <input id="region" name="region" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-sm-4">
                        <div class="form-group text-right">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-danger" style="height: 26px" id="queryLocalApply">查询
                                </button>
                                <button type="button" class="btn btn-default" style="height: 26px" id="resetLocalApply">重置
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="col-md-12">
        <div class="row">
        <!--  <h4 style="font-weight: bold;padding-left: 10px;border-bottom: #f0f0f0 1px solid">电路信息</h4>-->
            <div id="Config-draftGri"></div>
        </div>
    </div>
</div>
