<div class="modal-header">
    <h4 class="modal-title">核查单关联</h4>
</div>
<div class="modal-body">
    <div class="col-md-12" id="isa-operTaskManagement-mainPanel" style="background-color: #FFFFFF; overflow-x: hidden"><!-- background-color: #EDEDED;-->
    <div style="margin-left: 2px;margin-right: 2px;margin-bottom: 10px;margin-top: 10px;padding: 0px;background-color:#FFFFFF;height: 20%">
        <form class="form-horizontal" id="operTaskManagement-Qryform">
            <div class="row operTaskManagement-btn-row">
                <div id="operTaskManagement-searchCodeDiv" class="col-md-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="col-md-4 col-sm-4 control-label">客户名称</label>
                                <div class="col-md-8 col-sm-8">
                                    <input id="custNam" name="custNam" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="col-md-4 col-sm-4 control-label">产品类型</label>
                                <div class="col-md-8 col-sm-8">
                                    <input class="combobox form-control" name="produc" id="produc">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group"  hidden = "true">
                                <label class="col-md-4 col-sm-4 control-label" hidden = "true">动作类型</label>
                                <div class="col-md-8 col-sm-8"  hidden = "true">
                                    <input class="combobox form-control" name="actT" id="actT">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="col-md-4 col-sm-4 control-label">核查单编号</label>
                                <div class="col-md-8 col-sm-8">
                                    <input id="orderCode" name="orderCode" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="col-md-4 col-sm-4 control-label" id="orderTitlelabel">核查单标题</label>
                                <div class="col-md-8 col-sm-8" id="orderTitlediv">
                                    <input id="orderTitle" name="orderTitle" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-sm-2">
                            <div class="form-group">
                                <div class="col-md-12" >
                                    <button type="button" class="btn btn-danger" id="queryLocalApply">查询</button>
                                    <button type="button" class="btn btn-default" id="resetLocalApply">重置</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div id="localApplyTabs" class="row ui-tabs">
        <ul class="ui-tabs-nav">

            <li>
                <a href="#local_apply_tabs_completed" id="local_apply_tabs_completed_link">核查单<span class="redge pull-right clearfix" id="completespans">0</span></a>
            </li>

        </ul>



    </div>
    <div class="row" style="width: 98%;margin-left: 5px;margin-right: 5px;">
        <div class="row">
            <div class="col-md-12">
                <div id="Config-draftGrid"></div>
            </div>
        </div>
    </div>

</div>
</div>
