<div class="modal-header">
    <h4 class="modal-title">资源信息</h4>
</div>
<div class="modal-body">
    <div id="isa-operTaskManagement-mainPanel">
        <!-- background-color: #EDEDED;-->
        <div style="margin:10px 2px;padding: 0px;">
        <form class="form-horizontal form-ui-label" id="operTaskManagement-Qryform">
                <div id="operTaskManagement-searchCodeDiv" >
                    <div class="row form-group">
                        <div class="col-md-6 col-sm-6">
                                <label class="col-md-4 col-sm-4 control-label">资源类别:</label>
                                <div id="RESTYPE" class="form-order-info">
                                </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                                <label class="col-md-4 col-sm-4 control-label">资源名称:</label>
                                <div id="RESNAME" class="form-order-info">
                                </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-sm-12">
                            <label class="col-md-2 col-sm-2 control-label">调前路由:</label>
                            <div id="BEFORE_ROUTE" class="form-order-info"
                                 style="width:800px;">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12 col-sm-12">
                            <label class="col-md-2 col-sm-2 control-label">调后路由:</label>
                            <div id="AFTER_ROUTE" class="form-order-info"
                                 style="width:800px;">
                            </div>
                        </div>
                    </div>
                    <!--<div class="row form-group">
                        <div class="col-md-12 col-sm-12">
                                <label class="col-md-2 col-sm-2">全程路由</label>
                                <div class="col-md-10 col-sm-10" style="height:100px;width:800px;overflow:auto">
                                    <div id="ALL_ROUTE" class="form-order-info" >
                                    </div>
                                </div>
                        </div>
                    </div>-->

                </div>
        </form>
    </div>
</div>
</div>
<div class="modal-footer" style="text-align: center">
        <button type="button" class="btn btn-danger" id="close">关闭</button>
</div>