<div class="modal-header">
    <h4 class="modal-title">查询标准地址</h4>
</div>
<div class="modal-body">
    <div class="col-md-12">
        <div class="row">
            <form class="form-horizontal">
                <div class="row">
                    <div class="col-md-5 col-sm-5" id="equipNameDiv">
                        <div class="form-group" id = "addressNameDiv">
                            <label class="col-md-4 col-sm-4" style="margin: 4px 0px">标准地址名称</label>
                            <div class="col-md-8 col-sm-8">
                                <input id="addressName" name="addressName" class="form-control" data-rule="required">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5 col-sm-5" id="regionDiv">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4" style="margin: 4px 0px">归属地市</label>
                            <div class="col-md-8 col-sm-8">
                                <input id="regionCity" name="regionCity" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group text-right">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-danger" style="height: 26px" id="queryLocalApply">查询
                            </button>
                            <button type="reset" class="btn btn-default" style="height: 26px" id="resetLocalApply">重置
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <div class="col-md-12">
        <div class="row">
        <!--  <h4 style="font-weight: bold;padding-left: 10px;border-bottom: #f0f0f0 1px solid">电路信息</h4>-->
            <div id="Config-draftGri"></div>
        </div>
    </div>
</div>
