<div class="modal-header">
    <h4 class="modal-title">任务信息</h4>
</div>
<div class="modal-body">
    <div id="task_child_window_view" style="overflow-x: hidden"><!-- background-color: #EDEDED;-->
        <div style="margin:10px 2px;padding: 0px;height: 20%">
            <form class="form-horizontal form-ui-label" id="operTaskManagement-Qryform">
                <div id="operTaskManagement-searchCodeDiv" >
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label class="control-label">任务名称:</label>
                            <div id="TASKNAME" class="form-order-info">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">所属部门:</label>
                            <div id="ORGNAME" class="form-order-info">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">执行岗位:</label>
                            <div id="USERJOBNAME" class="form-order-info">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">处理人:</label>
                            <div id="USERNAME" class="form-order-info">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label class="control-label">流程环节:</label>
                            <div id="TACHENAME" class="form-order-info">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">工单状态:</label>
                            <div id="ORDERSTATE" class="form-order-info">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">签收时间:</label>
                            <div id="DEAL_DATE" class="form-order-info">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">开始时间:</label>
                            <div id="CREATE_DATE" class="form-order-info">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label class="control-label">完成时间:</label>
                            <div id="STATE_DATE" class="form-order-info">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">耗时(分):</label>
                            <div id="MINUTE" class="form-order-info">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">超时时间:</label>
                            <div id="EXCEEDTIME" class="form-order-info">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">预警时间:</label>
                            <div id="ALARM_DATE" class="form-order-info">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <label class="control-label">超时类型:</label>
                            <div id="EXCEEDTYPE" class="form-order-info">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="control-label">处理结果:</label>
                            <div id="TRACKCONTENT" class="form-order-info">
                            </div>
                        </div>
                    </div>
                    <!--<div class="row form-group">
                        <div class="col-md-12 col-sm-12">
                                <label class="col-md-2 col-sm-2">全程路由</label>
                                <div class="col-md-10 col-sm-10" style="height:100px;width:800px;overflow:auto">
                                    <div id="ALL_ROUTE" class="form-order-info" >
                                    </div>
                                </div>
                        </div>
                    </div>-->

                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer" style="text-align: center">
    <button type="button" class="btn btn-danger" id="close">关闭</button>
</div>