<!-- 流程图s -->
<div class="fish-flowBox" >
    <!-- 流程图展示 -->
    <div class="panel panel-default" style="min-width: 1025px">
        <div class="panel-heading">
            <span class="panel-title">SDWAN拆机流程</span>
        </div>

        <div class="panel-body flow-chart-box">

            <ul class="fish-prompt">
                <li class="fish-prompt-1">已完成</li>
                <li class="fish-prompt-2">处理中</li>
                <li class="fish-prompt-3">未完成</li>
            </ul>

            <ul class="fish-flowUl clearfix">
                <li id="jikeFlow" class="fish-finish">
                    <span class="fish-flowIcon"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-9.png" /></span>
                    <p class="fish-flowName">云网协同</p>
                </li>

                <li id="BUSINESS_SENT">
                    <span class="fish-flowIcon tachClick"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-1.png" /></span>
                    <p class="fish-flowName">业务派单</p>
                    <div class="fish-arrows"></div>
                </li>
                <li id="PICK_UP_TERMINAL_BOX">
                    <span class="fish-flowIcon tachClick"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-2.png" /></span>
                    <p class="fish-flowName">上门回收终端盒</p>
                    <div class="fish-arrows"></div>
                </li>

            </ul>

        </div>
    </div>

    <!-- 步骤s -->
    <div class="track-list" id="taskInfo">

    </div>

</div>