<div class="flowChart">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">主流程</span>
        </div>
        <div class="panel-body">
            <div id="main-flow-grid"></div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">子流程</span>
        </div>
        <div class="panel-body">
            <div id="child-flow-grid"></div>
        </div>
    </div>
</div>

