<!-- 流程图s -->
<div class="fish-flowBox" >
    <!-- 流程图展示 -->
    <div class="panel panel-default" style="min-width: 1025px">
        <div class="panel-heading">
            <span class="panel-title">SDWAN新开流程</span>
        </div>

        <div class="panel-body flow-chart-box">

            <ul class="fish-prompt">
                <li class="fish-prompt-1">已完成</li>
                <li class="fish-prompt-2">处理中</li>
                <li class="fish-prompt-3">未完成</li>
            </ul>

            <ul class="fish-flowUl clearfix">
                <li id="jikeFlow"  class="fish-finish">
                    <span class="fish-flowIcon"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-9.png" /></span>
                    <p class="fish-flowName">云网协同</p>
                </li>

                <li id="OPS_SENT">
                    <span class="fish-flowIcon tachClick"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-1.png" /></span>
                    <p class="fish-flowName">运维派单</p>
                    <div class="fish-arrows"></div>
                </li>

                <li id="TERNIMAL_DELIVERY">
                    <span class="fish-flowIcon tachClick"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-2.png" /></span>
                    <p class="fish-flowName">终端出库及上门</p>
                    <div class="fish-arrows"></div>
                </li>
                <li id="WAIT_SDWAN_FEEDBACK" >
                    <span class="fish-flowIcon tachClick"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-9.png" /></span>
                    <p class="fish-flowName">等待sdwan平台反馈</p>
                    <div class="fish-arrows"></div>
                </li>
                <li id="BUSINESS_TEST">
                    <span class="fish-flowIcon tachClick"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/73tongzhi.png" /></span>
                    <p class="fish-flowName">业务测试</p>
                    <div class="fish-arrows"></div>
                </li>
            </ul>

        </div>
    </div>

    <!-- 步骤s -->
    <div class="track-list" id="taskInfo">

    </div>

</div>