<!-- 流程图s -->
<div class="fish-flowBox">
    <!-- 流程图展示 -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="panel-title">二干客户电路停复机流程</span>
        </div>
        <div class="panel-body flow-chart-box">
            <ul class="fish-prompt">
                <li class="fish-prompt-1">已完成</li>
                <li class="fish-prompt-2">处理中</li>
                <li class="fish-prompt-3">未完成</li>
            </ul>

            <ul class="fish-flowUl clearfix">
                <li id="onedryFlow" style="display: none;" class="fish-finish">
                    <span class="fish-flowIcon"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-9.png" /></span>
                    <p class="fish-flowName">一干调度</p>
                </li>
                <li id="innerFlow" style="display: none;" class="fish-finish">
                    <span class="fish-flowIcon"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-9.png" /></span>
                    <p class="fish-flowName">内部申请</p>
                </li>
                <li id="jikeFlow" style="display: none;" class="fish-finish">
                    <span class="fish-flowIcon"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-9.png" /></span>
                    <p class="fish-flowName">集中集客</p>
                </li>
                <li id="SECONDARY_SCHEDULE_2" tacheCode = "SECONDARY_SCHEDULE_2">
                    <span class="fish-flowIcon tachClick"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-1.png" /></span>
                    <p class="fish-flowName">二干调度</p>
                    <div class="fish-arrows"></div>
                </li>
                <li class="fish-Line-s1"><label style="top: 50%"></label></li>
                <li class="fish-flow1">
                    <!-- 处理中加 fish-dispose\ 完成加 fish-finish -->
                    <div class="relative" id="SEC_SOURCE_DISPATCH_CLD" tacheCode = "SEC_SOURCE_DISPATCH_CLD">
                        <span class="fish-flowIcon tachClick"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-2.png" /></span>
                        <p class="fish-flowName">二干资源分配</p>
                        <div class="fish-arrows"></div>
                    </div>
                    <!-- 单横线 -->
                    <div class="fish-line-h"></div>
                </li>
                <li class="fish-Line-s1">
                    <label style="top: 0"></label>
                    <label style="left:0;top:50%"></label>
                </li>

                <li class="fish-Line-s2"></li>
                <li class="fish-flow2">
                    <dl class="fish-flow-dl">
                        <dd class="clearfix">
                            <div class="relative" id="LOCAL_DISPATCH">
                                <span class="fish-flowIcon"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-8.png" /></span>
                                <p class="fish-flowName">本地调度</p>
                                <div class="fish-arrows"></div>
                            </div>
                        </dd>
                        <dd class="clearfix">
                            <div class="inline-block relative" id="SPECIALTY_DATA_PRODUCTION" tacheCode = "SPECIALTY_DATA_PRODUCTION">
                                <span class="fish-flowIcon tachClick"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-14.png" /></span>
                                <p class="fish-flowName">专业数据制作</p>
                                <div class="fish-arrows"></div>
                            </div>
                        </dd>

                    </dl>
                </li>
                <li class="fish-Line-s2">
                    <label style="top: 0"></label>
                    <label style="top: 100%"></label>
                </li>
                <li id="NOTICE_OF_RENT_CONFIRMATION_2" tacheCode="NOTICE_OF_RENT_CONFIRMATION_2">
                    <span class="fish-flowIcon tachClick"><img src="module/UnicomLocalNet/resmaster/portal/flowChart/images/icon-5.png" /></span>
                    <p class="fish-flowName">起租确认通知</p>
                    <div class="fish-arrows"></div>
                </li>
            </ul>
        </div>
        <!-- 步骤s -->
        <div class="panel-footer" id="customerView">

        </div>
    </div>


</div>
