<div>
    <div style="padding: 15px;">
        <form class="form-horizontal" id="completionNotRented-form">
            <div class="row" style="margin: 0 !important;">

                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">客户名称</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="completionNotRented-custName" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">电路编号</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="completionNotRented-circuitCode" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-5 col-sm-5 control-label">报竣开始时间</label>
                        <div class="col-md-7 col-sm-7">
                            <input id="completionNotRented-beginDate" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-5 col-sm-5 control-label">报竣截止时间</label>
                        <div class="col-md-7 col-sm-7">
                            <input id="completionNotRented-endDate" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div style="text-align: right;padding-right: 10px">
                        <button id="completionNotRented-queryBtn" type="button" class="btn btn-danger">查询</button>
                        <button id="completionNotRented-exportBtn" type="button" class="btn btn-default">导出</button>
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="tab-content-model col-md-12 col-sm-12">
        <div id="completionNotRented-grid"></div>
    </div>
</div>
