<div class="modal-header">
    <h4 class="modal-title" >调度单钻取明细</h4>
</div>
<div class="modal-body">
    <div class="panel-body" >
        <form class="form-horizontal" >
            <div class="col-md-12 col-sm-12">
                <div class="form-group ">
                    <!--<label class="col-md-2 col-sm-2 control-label">调单处理人</label>-->
                    <div class="input-group col-md-12 col-sm-12">
                       <!-- <div class="btn-toolbar" style="margin-bottom: 10px;"  >
                            <span class="btn btn-default fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span style="line-height: 23px;">查看详情</span>
                            </span>
                        </div>-->
                        <div style="width: 99.5%" id="disOrder-grid"></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button id="disOrderDetail-exportBtn" type="button" class="btn btn-danger">导出</button>
    <button id="disOrderDetail-cancel" type="reset" class="btn btn-default">取消</button>
</div>


