<div id="affairDispatcher-mainPanel">
    <div style="padding: 15px;">
        <form class="form-horizontal" id="overtimeUnfinishedList-form">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">单据来源</label>
                        <div class="col-md-8 col-sm-8">
                            <select id="overtimeUnfinishedList-resources"   class="chosen-select" data-placeholder="--请选择单据来源--" multiple=""  >
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">产品类型</label>
                        <div class="col-md-8 col-sm-8">
                            <select id="overtimeUnfinishedList-productType"   class="ui-multiselect form-control" data-placeholder="--请选择产品类型--" multiple=""  >
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">动作类型</label>
                        <div class="col-md-8 col-sm-8">
                            <select id="overtimeUnfinishedList-operateType"   class="ui-multiselect form-control" data-placeholder="--请选择动作类型--" multiple=""  >
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">发起单位</label>
                        <div class="col-md-8 col-sm-8">
                            <select id="overtimeUnfinishedList-handelDep"   class="ui-multiselect form-control" data-placeholder="--请选择分公司--" multiple=""  >
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">电路调度环节处理人所属分公司</label>
                        <div class="col-md-8 col-sm-8">
                            <select id="overtimeUnfinishedList-dcStaffOrg"  class="ui-multiselect form-control" data-placeholder="--请选择分公司--" multiple=""  >
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">电路应完工开始时间</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="overtimeUnfinishedList-beginDate" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">电路应完工截至时间</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="overtimeUnfinishedList-endDate" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">环节超时时长(天)</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="overtimeUnfinish-timeOut" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12" >
                    <div  style="float: right">
                        <button id="overtimeUnfinishedList-queryBtn" type="button" class="btn btn-danger">查询</button>
                        <button id="overtimeUnfinishedList-exportBtn" type="button" class="btn btn-danger">导出</button>
                        <button type="reset" class="btn btn-default">重置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div style="padding: 10px;">
        <div id="overtimeUnfinishedList-grid"></div>
    </div>
</div>
