<div id="isa-operTaskManagement-mainPanel">
    <div style="padding: 15px;">
        <form class="form-horizontal" id="operTaskManagement-Qryform">
            <div class="operTaskManagement-btn-row" style="margin-bottom: 0 !important;">
                <div id="operTaskManagement-searchCodeDiv" class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 control-label">登录账号</label>
                            <div class="col-md-8 col-sm-8">
                                <input id="staffId" name="staffId" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 control-label">登录名</label>
                            <div class="col-md-8 col-sm-8">
                                <input id="loginName" name="loginName" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="form-group">
                            <label class="col-md-4 col-sm-4 control-label">用户名</label>
                            <div class="col-md-8 col-sm-8">
                                <input id="staffName" name="staffName" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-sm-10" id="searchBtnDiv">
                        <div style="float: right;margin-right: 10px">
                            <button id="addAdminInfo"  type="button" class="btn btn-danger">新增</button>
                            <button id="queryOrder" type="button" class="btn btn-danger">查询</button>
                            <button type="reset" class="btn btn-default">重置</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div style="padding: 10px;">
        <div id="orderDeal-grid"></div>
    </div>
</div>
