<div class="mainDiv">
    <div id="navDiv"></div>
    <div class="clearfix">
        <div class="left" >
            <!--<div id="resMange" class="resMange ui-sidebar">-->
                <!--<ul class="ui-sidebar-menu ui-sidebar-menu-default">-->
                    <!--<li>
                        <a  href="#javascript:;">
                            <span class="icon glyphicon glyphicon glyphicon-list-alt"></span>
                            <span class="title coustom-class">业务管理</span>
                            <span id="res_arrow" class="arrow glyphicon glyphicon-menu-right"></span>
                        </a>
                    </li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div id="resTree" class="resTree">-->
            <!--</div>-->

            <div id="sidebar" class="sidebar"></div>
        </div>
        <div id="tabContent" class="tab-content">

        </div>
    </div>
</div>
