<div id="isa-operTaskManagement-mainPanel">
    <div style="padding: 15px;">
        <form class="form-horizontal" id="operTaskManagement-Qryform">
            <div class="operTaskManagement-btn-row" style="margin-bottom: 0 !important;">
                <div id="operTaskManagement-searchCodeDiv" class="row">

                    <div class="col-md-8 col-sm-8">
                        <div style="float: right;margin-right: 10px">
                            <button id="addDisTime"  type="button" class="btn btn-info"> <span class="glyphicon glyphicon-plus"></span>新增</button>
                            <button id="refreshSetting" type="button" class="btn btn-default"> 刷新 </button>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div style="padding: 10px;">
        <div id="orderDeal-grid"></div>
    </div>
</div>
