<div id="cloudNetWorkResCheckFlowDiv">
    <div class="modal-header">
        <h4 style="font-size: 16px;font-weight:bold;" class="modal-title">{{TITLE}}</h4>
    </div>
    <div class="modal-body">
        <div id="orderOperView">
            <div style="margin-left: 15px;margin-right: 15px;">
                <form class="form-horizontal" id="orderOper-form">
                    <!-- 电路信息 -->
                    <div class="col-md-12 col-sm-12 form-group" id="circuitDiv">
                        <label class="col-md-2 col-sm-4 control-label" style="padding-right: 0">电路信息：</label>
                        <div class="col-md-10 col-sm-8">
                            <div id="terminalChildFlowGrid"></div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 form-group">
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>是否有MCPE终端盒：</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="">
                                    <input id="mcpeTerminal" name="mcpeTerminal" class="form-control"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 form-group">
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">终端情况：</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="">
                                    <intput id="terminalSituation" name="terminalSituation" class="form-control"></intput>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>MCPE地址到上联设备接入机房之间距离(公里)：</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="">
                                    <input id="distance" name="distance" class="form-control"  data-rule="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 form-group">
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">终端盒序列号：</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="">
                                    <input id="terminalSeqNum" name="terminalSeqNum" class="form-control"  data-rule="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">终端是否上线：</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="">
                                    <input id="isOnline" name="isOnline" class="form-control"  data-rule="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 form-group terminal" hidden>
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">终端下联端口：</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="">
                                    <input id="downPort" name="downPort" class="form-control"  data-rule="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">端口状态：</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="">
                                    <input id="portState" name="portState" class="form-control"  data-rule="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 form-group terminal" hidden>
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">端口速率：</label>
                            <div class="col-md-8 col-sm-8">
                                <div class="">
                                    <input id="portRate" name="portRate" class="form-control"  data-rule="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 form-group">
                        <div class="col-md-12">
                            <label class="col-md-2 col-sm-2 control-label">资源情况描述：</label>
                            <div class="col-md-10 col-sm-10">
                                <div class="">
                                    <input id="resDesc" name="resDesc" class="form-control"  data-rule="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 form-group" style="text-align: right;" id="saveBtnDiv">
                        <button type="button" id="saveBtn" class="btn btn-danger" style="margin-right:20px;margin-bottom:15px;">保存
                        </button>
                    </div>
                    <!-- 附件上传 -->
                    <div class="col-md-12 col-sm-12 form-group" id="fileUpdateDiv">
                        <div id="attach">
                            <label class="col-md-2 col-sm-2 control-label">上传附件：</label>
                            <div class="col-md-10 col-sm-10">
                                <div class="btn-toolbar" style="margin-bottom: 10px;">
                                    <span class="btn btn-default fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span style="line-height: 23px;">选择文件...</span>
                                        <input class="js-select-file" id="selectFiles" type="file"
                                               name="selectFiles" multiple="" data-rule="required">
                                    </span>
                                </div>
                                <div id="fileGrid"></div>
                            </div>
                        </div>
                    </div>
                    <!-- 说明 -->
                    <div class="col-md-12 col-sm-12 form-group" id="remarkDiv">
                        <label class="col-md-2 col-sm-2 control-label">说明：</label>
                        <div class="col-md-10 col-sm-10 clear-white">
                        <textarea id="remark" name="remark" class="form-control"  style="height: 200px;"
                                  data-rule="required;length[10~, true]"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div id="subBtnDiv" style="float: right;margin-right: 50px;">
            <button type="button" id="submitBtn" class="btn btn-danger">提交</button>
            <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
        </div>
    </div>
</div>
