<div class="modal-header">
    <h4 style="font-size: 16px;font-weight:bold;" class="modal-title" id="operOrderViewTitle">自动化核查</h4>
</div>
<div class="modal-body">
    <div id="autoCheckView">
        <div style="margin-left: 15px;margin-right: 15px;">
            <form class="form-horizontal form-ui-labelOver">
                <div class="row" style="margin-left: 30px;margin-top: 20px;">
                    <div class="col-md-6 form-group">
                        <label class="control-label" style="padding-right: 10px;">核查结果</label>
                        <div id="CHK_CODE" class="form-order-info" style="margin-left: -10px;"></div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="control-label" style="padding-right: 10px;">开通时限</label>
                        <div id="CHK_LIMIT_TIME" class="form-order-info" style="margin-left: -10px;"></div>
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="control-label">核查结果描述</label>
                        <div id="CHK_MESS" class="form-order-info"></div>
                    </div>
                    <div class="col-md-12 form-group">
                        <label class="control-label">资源文本信息</label>
                        <div id="CHK_RES_TXT" class="form-order-info"></div>
                    </div>
                </div>
            </form>
            <div class="title_left" style="margin: 20px 0;">
                <span class="title_left_span">资源列表</span>
            </div>
            <div id="ResGrid"></div>
        </div>
    </div>
</div>