.nav{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid  #eee;
}
.nav .logo{
    height: 100%;
    background: #d80507;
    color: #fff;
    text-align: center;
    float: left;
}
.nav .logo  .img{
    padding: 6px 20px;
    display: block;
    float: left;
}
.nav .logo  .text{
    font-size: 21px;
    margin-top: 4px;
    margin-left: -15px;
    margin-right: 15px;
    padding-right: 15px;
    display: block;
    float: left;
    font-weight: bold;
}

.nav .logo .interval {
    font-size: 18px;
    margin-top: 4px;
    margin-left: -15px;
    padding-right: 15px;
    display: block;
    float: left;
}
.nav .nav-text{
    line-height: 38px;
    font-size: 17px;
    float: left;
    padding: 0px 0px;
    color: white;
}
.nav .nav-user{
    float: right;
    line-height: 40px;
    padding: 0px 30px;
}
.nav .nav-user .item{
    float: left;
    margin-left: 10px;
    cursor: pointer;
    color: white;
}