<div class="modal-header">
    <h4 class="modal-title">工单处理</h4>
</div>
<div class="modal-body">

    <div class="col-md-12" id="orderOperTreeView">
        <div class="row">
            <form class="form-horizontal" id="orderOperTree-form">
                <div class="row">
                    <div id="tree" class="col-md-12" >
                        <div id="treeDemo"></div>
                    </div>
                </div>
                <div class="row">
                    <div id="subBtnDiv" class="col-md-12" >
                        <div style="text-align: right;padding-bottom:10px;padding-right:20px;" >
                            <button type="button" id="submitBtn" class="btn" style="background-color: #EB4A4B">确定</button>
                            <button type="button" class="btn">重置</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>