<div class="modal-header">
    <h4 class="modal-title" id="titleValue"></h4>
</div>
<div class="modal-body">
    <div id="isa-operTaskManagement-mainPanel" style="overflow-x: hidden">
        <div style="margin:10px 2px;padding: 0px;height: 20%">
            <form class="form-horizontal form-ui-label" id="operTaskManagement-Qryform">
                <div id="operTaskManagement-searchCodeDiv">
                    <div class="row form-group">
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">任务名称：</label>
                            <div id="TASKNAME" class="form-order-info">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">所属部门：</label>
                            <div id="ORGNAME" class="form-order-info">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">执行岗位：</label>
                            <div id="USERJOBNAME" class="form-order-info">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">处理人：</label>
                            <div id="USERNAME" class="form-order-info">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">流程环节：</label>
                            <div id="TACHENAME" class="form-order-info" style="overflow:auto">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">工单状态：</label>
                            <div id="ORDERSTATE" class="form-order-info" style="overflow:auto">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">处理结果：</label>
                            <div id="TRACKCONTENT" class="form-order-info" style="overflow:auto">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">签收时间：</label>
                            <div id="DEAL_DATE" class="form-order-info" style="overflow:auto">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">开始时间：</label>
                            <div id="CREATE_DATE" class="form-order-info" style="overflow:auto">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label">完成时间：</label>
                            <div id="STATE_DATE" class="form-order-info" style="overflow:auto">
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div  style="float: right;margin-right: 30px; height: 30px;" >
                            <button type="button" class="btn btn-danger" id="close">关闭</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>