<div class="modal-header">
    <h4 class="modal-title">添加常用联系人</h4>
</div>
<div class="modal-body">
    <div class="col-md-12" id="freContactsSelectView">
        <div class="row">
                <div class="row" id="searchInputSel" style="margin-left: 5px;">
                    <div class="col-md-3"/>
                    <div id="searchOrgPerDivSel" class="col-md-6">
                        <input type="text" id="searchOrgPerSel" name="searchOrgPerSel" class="form-control"/>
                    </div>
                </div>
                <div class="row" style="margin-left: 5px;">
                    <div style="padding: 10px;">
                        <div id="searchContactGrid"></div>
                    </div>
                </div>
                <div class="row">
                    <div id="subBtnDivSel" class="col-md-12" >
                        <div style="text-align: center;padding-top:5px;padding-right:20px;" >
                            <button type="button" id="submitBtnSel" class="btn" style="background-color: #EB4A4B">确定</button>
                            <button type="button" class="btn" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>