<div class="modal-header">
    <h4 class="modal-title">选择抄送单位</h4>
</div>
<div class="modal-body">
    <div class="col-md-12" id="transferView">
        <div class="row">
            <form class="form-horizontal" id="transferTree-form">
                <div class="row" style="height:340px;overflow-y:auto">
                    <div id="transferTree" class="col-md-12" >
                        <div id="transferObjTree" style="overflow-x: auto;overflow-y: auto;"></div>
                    </div>
                </div>
                <div class="row">
                    <div id="subBtnDiv" class="col-md-12" >
                        <div style="text-align: center;padding-top:10px;padding-right:20px;" >
                            <button type="button" id="submitBtn" class="btn" style="background-color: #EB4A4B">确定</button>
                            <button type="button" class="btn" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>