<div class="modal-header">
    <h4 class="modal-title" id="sub_sevAPIManagePopupTitle">修改电路信息</h4>
</div>
<div class="modal-body">
    <div class="panel-body">
        <form class="form-horizontal" id="sub_sevMenuForm">
            <div id="sub_gridId"></div>
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>业务订单号</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_tradeId" name="tradeId" class="form-control" data-rule="required" style="background-color: #eeeeee" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>业务号码 </label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_serialNumber" name="serialNumber" class="form-control" data-rule="required;" style="background-color: #eeeeee" readonly="readonly">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">产品类型</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_serviceId" name="serviceId" class="form-contro menu sub_product_code" >
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">电路要求</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_circuitReq" name="circuitReq" class="form-control menu sub_operate_type" >
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label" id="sub_dynamicRequired">电路编号</label>
                        <div class="col-md-8 col-sm-8">
                            <div class="input-group">
                                <input id="sub_circuitCode" name="circuitCode" class="form-control" data-rule="required" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>电路用途</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_cirUse" name="cirUse" class="form-control menu sub_10000506" data-rule="required">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>带宽</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_speed" name="speed" class="form-control menu sub_10000102" data-rule="required">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>接口类型</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_Z_interface_type" name="Z_interface_type" class="form-control menu sub_10001107" data-rule="required">
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-3 col-sm-3">
                     <div class="form-group">
                         <label class="col-md-4 col-sm-4 control-label">客户经理</label>
                         <div class="col-md-8 col-sm-8">
                             <input id="sub_custManager" name="custManager" class="form-control" >
                         </div>
                     </div>
                 </div>-->
                <!-- <div class="col-md-3 col-sm-3">
                     <div class="form-group">
                         <label class="col-md-4 col-sm-4 control-label">客户经理联系电话 </label>
                         <div class="col-md-8 col-sm-8">
                             <input id="sub_custManaPhone" name="custManaPhone" class="form-control  CON3006" >
                         </div>
                     </div>
                 </div>-->
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>归属分公司</label>
                        <div class="col-md-8 col-sm-8">
                            <div class="input-group">
                                <input id="sub_Z_belong_region" name="Z_belong_region" class="form-control" data-rule="required">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>归属省</label>
                        <div class="col-md-8 col-sm-8">
                            <div class="input-group">
                                <input id="sub_Z_belong_province" name="Z_belong_province" class="form-control" data-rule="required">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>归属地市</label>
                        <div class="col-md-8 col-sm-8">
                            <div class="input-group">
                                <input id="sub_Z_belong_city" name="Z_belong_city" class="form-control" data-rule="required">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">归属区县</label>
                        <div class="col-md-8 col-sm-8">
                            <div class="input-group">
                                <input id="sub_Z_belong_county" name="Z_belong_county" class="form-control" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">工程缓急程度</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_proPriDeg" name="proPriDeg" class="form-control menu sub_CON0095" >
                        </div>
                    </div>
                </div>                                            <div class="col-md-3 col-sm-3">
                <div class="form-group">
                    <label class="col-md-4 col-sm-4 control-label">路由协议类型</label>
                    <div class="col-md-8 col-sm-8">
                        <input id="sub_RoutProtocolType" name="RoutProtocolType" class="form-control menu sub_10000193" >
                    </div>
                </div>
            </div>

                <!-- <div class="col-md-3 col-sm-3">
                     <div class="form-group">
                         <label class="col-md-4 col-sm-4 control-label">客户名称</label>
                         <div class="col-md-8 col-sm-8">
                             <input id="sub_Z_customer_name" name="Z_customer_name" class="form-control" >
                         </div>
                     </div>
                 </div>-->

                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">开设网站域名</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_OpenWebsiteDomain" name="OpenWebsiteDomain" class="form-control" >
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">设备互联IP数量</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_EqpConnectIPCount" name="EqpConnectIPCount" class="form-control" >
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>联系人</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_Z_contact_man" name="Z_contact_man" class="form-control" data-rule="required">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>联系电话</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_Z_contact_tel" name="Z_contact_tel" class="form-control" data-rule="required;">
                        </div>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">IP备案单位</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_IPReferenceUnit" name="IPReferenceUnit" class="form-control" >
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">网站备案号</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_WebsiteRecordNumber" name="WebsiteRecordNumber" class="form-control" >
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">IP地址类型</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_IPAddrType" name="IPAddrType" class="form-control menu sub_ipAddrType" >
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">申请IPv4地址数量</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_CustApplIPV4Count" name="CustApplIPV4Count" class="form-control" >
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">IPv4地址</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_IPV4" name="IPV4" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">申请IPv6地址数量</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_CustApplIPV6Count" name="CustApplIPV6Count" class="form-control" >
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">IPv6地址</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_IPV6" name="IPV6" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">IP地址来源</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_IPAddrSource" name="IPAddrSource" class="form-control menu sub_10000194" >
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">是否需要域名解析</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_isNeedDNS" name="isNeedDNS" class="form-control menu sub_10001428" >
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">用户地址是否需要广播</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_isNeedBroadcastbyuser" name="isNeedBroadcastbyuser" class="form-control menu sub_10001429" >
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-sm-6">
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 control-label"><span style="color: red">*</span>安装地址</label>
                        <div class="col-md-10 col-sm-10">
                            <input id="sub_Z_installed_add" name="Z_installed_add" class="form-control" data-rule="required">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>全程要求完成时间</label>
                        <div class="col-md-8 col-sm-8">
                            <div class="input-group">
                                <input id="sub_requFineTime" name="requFineTime" class="form-control date" data-rule="required">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">是否大带宽</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_isBigSpeed" name="isBigSpeed" class="form-control menu sub_10001121" >
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3" id="sub_old_belong_region">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"  >原归属分公司</label>
                        <div class="col-md-8 col-sm-8">
                            <div class="input-group">
                                <input id="sub_Z_old_belong_region" name="Z_old_belong_region" class="form-control" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3" id="sub_old_belong_county">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label"  >原归属区县</label>
                        <div class="col-md-8 col-sm-8">
                            <div class="input-group">
                                <input id="sub_Z_old_belong_county" name="Z_old_belong_county" class="form-control" >
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6" id="sub_old_installed_add">
                    <div class="form-group">
                        <label class="col-md-2 col-sm-2 control-label" >原安装地址</label>
                        <div class="col-md-10 col-sm-10">
                            <input id="sub_Z_old_installed_add" name="Z_old_installed_add" class="form-control" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3" id="sub_old_CircuitCode">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">原电路编号</label>
                        <div class="col-md-8 col-sm-8">
                            <input id="sub_oldCircuitCode" name="oldCircuitCode" class="form-control  10001421" disabled="disabled">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="form-group">
                        <label class="col-md-4 col-sm-4 control-label">创建时间</label>
                        <div class="col-md-8 col-sm-8">
                            <div class="input-group">
                                <input id="sub_createTime" name="createTime" class="form-control date" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="border-top: 1px #bbb dashed;margin:0 -5px;padding-top: 15px">

                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="col-md-1 col-sm-1 control-label">大带宽审核附件</label>
                        <div class="col-md-5 col-sm-5">
                                                        <span class="btn btn-default fileinput-button" style="margin-top: 0px">
                                                            <input id="sub_BigSpeedAttachment" class="js-fileupload" type="file" title="附件">
                                                         </span>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <ul id="sub_BigSpeedAttachment_down" class="list-group"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="border-top: 1px #bbb dashed;margin:0 -5px;padding-top: 15px">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label class="col-md-1 col-sm-1 control-label">备注</label>
                        <div class="col-md-11 col-sm-11">
                            <textarea id="sub_cir_remark" name="cir_remark" style="height: 36px" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" id="sub_save-button">确定</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" id="sub_cancel-button">取消</button>
</div>