<div class="modal-header">
    <h4 class="modal-title" id="title">原客户信息</h4>
</div>

<div class="modal-body">

    <div id="accordion" class="ui-accordion" style="position: relative">
        <div class="panel panel-default">
            <div class="panel-heading" style="color: #fff;background-color: #eb4a4b">
                <h3 class="panel-title" style=" font-size: 16px">
                    <a>客户信息
                        <span class="glyphicon glyphicon-user pull-right"></span>
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <div id="cstInfo" style="padding: 15px;">
                    <div id="noCstInfo" style="text-align: center;">无变更记录</div>
                </div>
            </div>
        </div><!--客户信息-->
    </div>

</div>
