<div id="isa-operTaskManagement-mainPanel">
    <div style="padding: 10px;">
            <div class="operTaskManagement-btn-row">
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <input id="searchContactsName" name="searchContactsName" class="form-control" style="float: left">
                        </div>
                        <div class="col-md-4">
                            <button id="queryContactOrder" type="button" style="height: 25px;" class="btn btn-danger">
                                查询
                            </button>
                            <button id="addContactOrder" type="button" style="height: 25px;" class="btn btn-danger ">
                                新增
                            </button>
                        </div>
                    </div>
            </div>
            <div class="operTaskManagement-btn-row">
                <div id="freContactGrid"></div>
            </div>
    </div>

</div>
