<div class="modal-header">
    <h4 style="font-size: 16px;font-weight:bold;" class="modal-title">工单提交</h4>
</div>
<div class="modal-body">
    <div id="orderOperView">
        <div style="margin-left: 15px;margin-right: 15px;">
            <form class="form-horizontal" id="orderOper-form">
                <div id="orderOperDiv" style="width: 99%">
                    <!-- 电路信息 -->
                    <div class="row form-group" id="circuitDiv">
                        <label class="col-md-2 col-sm-4 control-label" style="padding-right: 0">电路信息：</label>
                        <div class="col-md-10 col-sm-8">
                            <div id="circuitGrid"></div>
                        </div>
                    </div>
                    <!-- 核查反馈 A端   masterRetDiv
                    <div class="row form-group" id="feedBackADiv">
                        <div class="col-md-12 col-sm-12" style="margin-bottom: 15px">
                            <label class="col-md-2 col-sm-2 control-label"><span style="color: red">*</span>A端接入建设方案、资源情况:</label>
                            <div class="col-md-10 col-sm-10">
                                <textarea id="A_CONSTRUCT_SCHEME" name="A_CONSTRUCT_SCHEME" class="form-control" rows="4" data-rule="required" style="width: 516px" ></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12" style="margin-bottom: 15px">
                            <div class="col-md-6 col-sm-6">
                                <label class="col-md-4 col-sm-4 control-label" id ="a"><span style="color: red">*</span>A端资源是否满足:</label>
                                <div class="col-md-8 col-sm-8">
                                    <input id="A_RES_SATISFY" name="A_RES_SATISFY" class="form-control"  data-rule="required">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6" id="accessRoomADiv">
                                <label class="col-md-4 col-sm-4 control-label">A端局端接入机房:</label>
                                <div class="col-md-8 col-sm-8">
                                    <div class="input-group">
                                        <input id="A_ACCESS_ROOM" name="A_ACCESS_ROOM" class="form-control" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-6 col-sm-6">
                                <div class="col-md-4 col-sm-4 control-label">
                                    <label class="control-label" id="amountA">A端投资金额(万):</label>
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <input id="A_INVESTMENT_AMOUNT" name="A_INVESTMENT_AMOUNT" class="form-control"  type="number" data-rule="integer[+];range[~100]">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="col-md-4 col-sm-4 control-label">
                                    <label class="control-label" id="periodA">A端建设工期(工作日):</label>
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <input id="A_CONSTRUCT_PERIOD" name="A_CONSTRUCT_PERIOD" class="form-control"  type="number" data-rule="integer[+];range[~100]">
                                </div>
                            </div>

                        </div>
                    </div>
                    -->
                    <!-- 核查反馈 Z端-->
                    <div class="row form-group" id="feedBackZDiv" >

                        <div class="col-md-12 col-sm-12" style="margin-bottom: 15px">
                            <div class="col-md-6 col-sm-6">
                                <label class="col-md-4 col-sm-4 control-label"><span style="color: red">*</span>资源是否满足:</label>
                                <div class="col-md-8 col-sm-8">
                                    <input id="Z_RES_SATISFY" name="Z_RES_SATISFY" class="form-control"  data-rule="required ">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12" style="margin-bottom: 15px">
                            <label class="col-md-2 col-sm-2 control-label">备注：</label>
                            <div class="col-md-10 col-sm-10">
                                <textarea id="Z_CONSTRUCT_SCHEME" name="Z_CONSTRUCT_SCHEME" class="form-control" rows="4" style="width: 516px" ></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- 核查反馈 L端-->
                    <div class="row form-group" id="feedBackLDiv" hidden>

                        <div class="col-md-12 col-sm-12" style="margin-bottom: 15px">
                            <div class="col-md-6 col-sm-6">
                                <label class="col-md-4 col-sm-4 control-label">专项投资金额:</label>
                                <div class="col-md-8 col-sm-8">
                                    <input id="L_SPECIAL_INVESTMENT_AMOUNT" name="L_SPECIAL_INVESTMENT_AMOUNT" class="form-control" data-rule="amount" data-rule-amount="[/^([1-9]\d{1,9}|\d)(\.\d{1,2})?$/, '投资金额为正数,小数点两位']">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-6 col-sm-6">
                                <div class="col-md-4 col-sm-4 control-label">
                                    <label class="control-label" id="amountL">投资金额(万):</label>
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <input id="Z_INVESTMENT_AMOUNT" name="Z_INVESTMENT_AMOUNT" class="form-control"  type="number" data-rule="integer[+0];range[~100]">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div class="col-md-4 col-sm-4 control-label">
                                    <label class="control-label" id="periodL">建设工期(工作日):</label>
                                </div>
                                <div class="col-md-8 col-sm-8">
                                    <input id="Z_CONSTRUCT_PERIOD" name="Z_CONSTRUCT_PERIOD" class="form-control"  type="number" data-rule="integer[+0];range[~100]">
                                </div>
                            </div>
                            <!--<div class="col-md-12 col-sm-12" style="margin-bottom: 15px" hidden>
                                <label class="col-md-2 col-sm-2 control-label">本地接入建设方案、资源情况:</label>
                                <div class="col-md-10 col-sm-10">
                                    <textarea id="L_CONSTRUCT_SCHEME" name="L_CONSTRUCT_SCHEME" class="form-control" rows="4" data-rule="required" style="width: 516px" ></textarea>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group" style="text-align: right;"  id="checkSaveBtnDiv">
                        <button type="button" id="checkSaveBtn" class="btn btn-danger" style="margin-right:20px;">保存</button>
                    </div>
                    <!-- 附件上传 -->
                    <div class="row form-group" id="fileUpdateDiv">
                        <div id="attach" class="">
                            <label class="col-md-2 col-sm-4 control-label" style="padding-right: 0">上传附件：</label>
                            <div class="col-md-10 col-sm-8">
                                <form id="displaySource">
                                    <div class="btn-toolbar" style="margin-bottom: 10px;">
                                        <span class="btn btn-default fileinput-button">
                                            <i class="glyphicon glyphicon-plus"></i>
                                            <span style="line-height: 23px;">选择文件...</span>
                                            <input class="js-select-file" id="selectFiles" type="file"
                                                   name="selectFiles" multiple="">
                                        </span>
                                </div>
                                <div id="fileGrid"></div>
                            </form>
                        </div>
                    </div>
                </div>
                    <!-- 说明 -->
                    <div class="row form-group" id="remarkDiv">
                        <div id="remarkGoRoll" class="">
                            <label class="col-md-2 col-sm-4 control-label" style="padding-right: 0;">说明：</label>
                            <div class="col-md-10 col-sm-8 clear-white">
                                <textarea id="remark" name="remark" class="form-control" rows="8" style="width: 516px;"
                                          data-rule="required;length[10~, true]"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div id="subBtnDiv" style="float: right;margin-right: 50px;">
        <button type="button" id="submitBtn" class="btn btn-danger">提交</button>
        <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
    </div>
</div>

